@import 'tailwindcss';

@theme {
  --font-league-spartan: 'League Spartan', sans-serif;
  --font-fontoon: 'Fontoon', sans-serif;

  --color-beige-500: oklch(0.95 0.0258 29.42);
  --color-orange-500: oklch(0.68 0.2128 40.32);
  --color-orange-600: oklch(0.67 0.2111 32.37);
  --color-blue-500: oklch(0.71 0.0782 242.63);
  --color-pink-500: oklch(0.65 0.1845 5.39);
  --color-yellow-500: oklch(0.91 0.1373 97.71);
}

@layer base {
  .material-symbols-outlined {
    font-size: inherit !important;
  }
}

@font-face {
  font-family: "Fontoon";
  src:
    local("Fontoon"),
    url("../static/fontoon_regular.woff2") format("woff2"),
}

::backdrop {
  background: rgba(0, 0, 0, 0.7);
}
